html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  border: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

.wrapper {
  height: 100%;
  border: 0px solid green;
  margin: 0px;
  padding: 0px;
}

.container-back {
  width: 500px;
  margin: auto;
}

.slides {
  --dummy-property: 0px;

  border: 0px solid blue;

  width: 500px;
  height: 500px;
  margin: auto;

  display: block;
  overflow: hidden;

  position: relative;
}

.slide {
  --dummy-property: 0px;
  margin-left:100%;

  width: 100%;
  /* height: 300px; */

  background-color: rgb(89, 163, 224);

  position: absolute;
}

.slide.prev {
  --dummy-property: 0px;
}

.slide.active {
  --dummy-property: 0px;
  border: 0px solid yellow;

  display: block;

  margin-left: 0%;
}

.slide-entry {
  /* height:60px; */
  color: white;

  /* border: 2px solid white; */
  /* */padding: 10px;
  /* margin-top: 20px; */
  transition: padding .1s, font-size .1s, background-color .1s;
}
.slide-entry:hover {
  padding: 15px;
  font-size: 1.2rem;
  background-color: rgb(27, 99, 158);
}


.responsive {
  --dummy-property: 0px;

  width: 100%;
  height: 100%;
}


.slidein {
  animation-duration: .3s;
  animation-name: slidein;
  animation-iteration-count: 1;
  animation-direction: normal; /* https://developer.mozilla.org/en-US/docs/Web/CSS/animation-direction */
}

@keyframes slidein {
  from {
    margin-left:100%;
    display: block;
  }

  to {
    margin-left:0%;
    display: block;
  }
}

.slideout {
  animation-duration: .3s;
  animation-name: slideout;
  animation-iteration-count: 1;
  animation-direction: normal; /* https://developer.mozilla.org/en-US/docs/Web/CSS/animation-direction */
}

/* slide slides out to the left */
@keyframes slideout {
  from {
    margin-left:0%;
    display: block;
  }

  to {
    margin-left:-100%;
    display: block;
  }
}




.slidein-right {
  animation-duration: .3s;
  animation-name: slidein-right;
  animation-iteration-count: 1;
  animation-direction: normal; /* https://developer.mozilla.org/en-US/docs/Web/CSS/animation-direction */
}

/* slide slides in from the left to the right */
@keyframes slidein-right {
  from {
    margin-left:-100%;
    display: block;
  }

  to {
    margin-left:0%;
    display: block;
  }
}

.slideout-right {
  animation-duration: .3s;
  animation-name: slideout-right;
  animation-iteration-count: 1;
  animation-direction: normal; /* https://developer.mozilla.org/en-US/docs/Web/CSS/animation-direction */
}

/* slide slides out to the right */
@keyframes slideout-right {
  from {
    margin-left:0%;
    display: block;
  }

  to {
    margin-left:100%;
    display: block;
  }
}